@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{
  font-family: "Arista";
  src : url('/fonts/Arista-Pro-Light-trial.ttf') format('truetype');
  font-weight: 300;
}

@font-face{
  font-family: "Arista";
  src : url('/fonts/Arista-Pro-Bold-trial.ttf') format('truetype');
  font-weight: 600;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arista';
}
